body{max-width: 1300px;
max-height: 3000px;}
.display-flex{display: flex;}
.manu-bar{list-style: none; gap: 10px;}
.manu-bar>li>a{text-decoration: none;}
.top{justify-content: space-between; align-items: center;}
.brend-name{width: 243px; height: 52.2px; font-weight: 700; font-size: 24px; margin: 30px 247px 145px 120px;}
.manu-bar{margin: 20px 120px 80px 247px;}

.hading-d{width: 582px; height: 133px; font-weight: 700; font-size: 52px;}
.hading-p{width: 505px; height: 60.9px; font-weight: 600; font-size: 16px;}
.button-p{width: 196px; height: 44px; background-color: #E02C6D; border-radius: 41PX; color: #FFFF;}
.hading{width: 582PX; height: 270PX; margin: 145PX 133PX 170PX 120PX;}
.img-progsion{position:absolute;}
.i2{top: 800px; left: -10px;}
.display-flex{display: flex;}
.reletib{position: absolute;}
.i1{left: 820px;}
.i2{left: 800px;}
.i2{top: 1px;}
.i1{top: 10px;}
.button-p{top: 330px;}
.i1{z-index: 1;}